#SVG-container{
    width: 26em;
    margin: 5em auto 0 auto;
    padding: 0;
}

#not-logged-in{
    text-align: center;
    font-size: 1.1em;
}

#SVG{
    display: block;
    width: 100%;
    height: 15em;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 0;
}

#size-label{
    display: block;
    width: 9em;
    text-align: center;
    margin: .5em auto 0 auto;
    font-size: 1em;
}

#quantity-label{
    display: block;
    width: 9em;
    text-align: center;
    margin: .5em auto;
    font-size: 1em;
}

select{
    font-size: 1em;
    height: 1.3em;
}

#color-picker{
    display: none;
    position: absolute;
    width: 13em;
    margin: 0;
    border: 1px solid black;
}

#color-picker > div{
    text-align: right;
    margin-right: .8em;
}

.color-wheel{
    display: block;
    width: 30em;
    margin: 0 auto .5em auto;
}

#color-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em auto;
}

.top-color{
    border-radius: 100%;
    width: 3em;
    height: 3em;
    background-color: #BCBEC0;
    cursor: pointer;
}

.middle-color{
    border-radius: 100%;
    background-color: #636466;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.bottom-color{
    border-radius: 100%;
    width: 3em;
    height: 3em;
    background-color: #B0D1E0;
    cursor: pointer;
}

#random-color{
    display: block;
    width: 6em;
    height: 3em;
    font-size: 1em;
    margin: 2em auto 0 auto;
}

#add-checkout{
    display: block;
    width: 6em;
    height: 3em;
    font-size: 1em;
    margin: 1em auto;
}

@media screen and (max-width: 770px){
    #SVG-container{
        width: 95%;
    }

    .logging-container{
        width: 50%;
    }
}