header{
    width: 100%;
    margin: 2em 0 0 0;
}

#header-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

#header-nav li{
    list-style: none;
}

#header-nav li *{
    text-decoration: none;
}

.logging-container{
    display: flex;
    width: 10em;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: right;
}

.logging-link{
    color: black;
    height: 2.7em;
}

#header-nav > h2 *{
    width: 50%;
    text-align: center;
    margin: 0 auto .5em auto;
    font-size: 2.3em;
    color: purple;
    text-decoration: none;
}

/*Checkout button section*/
#cart-container{
    position: absolute;
    top: 5em;
    right: 0;
    margin-left: auto;
    width: 5em;
    padding-right: 2em;
}

#cart-amount{
    color: red;
    position: relative;
    top: .2em;
    padding: 0 1em;
    margin: 0 auto;
    font-size: 1.8em;
}

#cart-icon{
    display: block;
    font-size: 1.6em;
    padding: 0;
    margin: 0 auto;
}

#checkout-container{
    display: none;
}

#checkout-container > div{
    position: relative;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    margin: 0 auto;
    background-color: black;
    z-index: 4 !important;
}

#checkout-container > span {
    display: block;
    position: relative;
    right: 1.2em;
    width: 7em;
    height: 2.5em;
    padding-top: 1em;
    margin-top: -.5em;
    background-color: black;
    z-index: 4;
}

.to-checkout{
    display: block;
    width: 5em;
    height: 1.5em;
    margin: 0 auto 2em auto;
    padding: .2em 0;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 1em;
    border: .1em solid white;
}


/*Nav links section*/
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#nav-links *{
    color: black;
}

@media screen and (max-width: 770px){

    header{
        margin: 0;
    }

    #nav-links{
        display: none;
        position: fixed;
        z-index: 0;
        height: 100Vh;
        border: 1px solid black;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
    }

    .showUl{
        display: flex !important;
        z-index: 2;
        animation-name: showUl;
        animation-duration: 1s;
    }

    .hideUl{
        display: none !important;
        animation-name: hideUl;
        animation-duration: 1s;
    }
    
    @keyframes showUl {
        from{
            transform: translateX(100%);
        }

        to{
            
            transform: translateX(0) !important;
        }
    }

    @keyframes hideUl{
        from{
            transform: translateX(0) !important;
        }
        to{
            transform: translateX(100%) !important;
        }
    }

    .show{
        display: flex !important;
    }

    #header-nav{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5 !important;
        margin: 0;
        background-color: white;
        border-bottom: .1em solid lightgrey;
    }

    #header-nav h2{
        margin-top: 0;
        font-size: .9em;
        text-align: left;
        margin-left: 1em;;
    }

    .logging-container{
        display: none;
        width: 100% !important;
        position: absolute;
        top: 15.8em !important;
        text-align: center;
        right: 1em;
        z-index: 3;
        border: 1px solid black;
    }

    #cart-container{
        top: -.8em;
        right: 1em;
        font-size: .8em;
    }

    /* Menu icon - mobile view */

    #menu-icon{
        position: absolute;
        top: 1em;
        right: 1.5em;
        width: 1.7em;
        z-index: 3;
    }

    #menu-icon div{
        width: 1.7em;
        margin: .2em 0;
        height: .3em;
        background-color: black;
    }
}