header{
    width: 100%;
    margin: 0;
}

#header-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

#header-nav li{
    list-style: none;
}

#header-nav li *{
    text-decoration: none;
}

.logging-container{
    display: flex;
    width: 10em;
    justify-content: space-evenly;
    margin-left: auto;
    text-align: right;
}

.logging-link{
    padding-right: 1em;
    color: black;
}

#header-nav > h2 *{
    width: 50%;
    text-align: center;
    margin: 0 auto .5em auto;
    font-size: 2.3em;
    color: purple;
    text-decoration: none;
}

/*Checkout button section*/
#cart-container{
    position: fixed;
    top: 5em;
    right: 0;
    margin-left: auto;
    width: 5em;
    padding-right: 2em;
}

#cart-amount{
    color: red;
    position: relative;
    top: .2em;
    padding: 0 1em;
    margin: 0 auto;
    font-size: 1.8em;
}

#cart-icon{
    display: block;
    font-size: 1.6em;
    padding: 0;
    margin: 0 auto;
}

#checkout-container{
    display: none;
}

#checkout-container > div{
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    margin: 0 auto;
    background-color: black;
    z-index: -1;
}

#checkout-container > span {
    display: block;
    position: relative;
    right: 1.2em;
    width: 7em;
    height: 2.5em;
    padding-top: 1em;
    margin-top: -.5em;
    background-color: black;
    z-index: 4;
}

.to-checkout{
    display: block;
    width: 5em;
    height: 1.5em;
    margin: 0 auto 2em auto;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 1em;
    border: .1em solid white;
}


/*Nav links section*/
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#nav-links *{
    color: black;
}

@media screen and (max-width: 770px){

    #nav-links{
        display: none;
    }

    .showUl{
        display: flex !important;
    }

    #header-nav h2{
        margin-top: 1.5em;
    }

    .logging-container{
        position: absolute;
        right: 1em;
        z-index: 3;
    }

    #nav-links{
        position: fixed;
        z-index: 2;
        min-height: 100%;
        width: 100%;
        background-color: white;
    }

    #cart-container{
        top: .1em;
        right: 1em;
    }

    /* Menu icon - mobile view */

    #menu-icon{
        position: fixed;
        top: 2.5em;
        right: 1.5em;
        width: 1.7em;
        z-index: 3;
    }

    #menu-icon div{
        width: 1.7em;
        margin: .2em 0;
        height: .3em;
        background-color: black;
    }
}