footer{
    display: flex;  
    justify-content: space-evenly;
    padding: 1.5em;
    margin-top: 9.5em;
}

#footer-facebook{
    font-size: 2em;
    color: black;
}

#footer-instagram{
    font-size: 2em;
    color: black;
}

#footer-twitter{
    font-size: 2em;
    color: black;
}